@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
  }

  @font-face {
    font-family: "think";
    font-style: normal;
    src: url('/think.regular.woff2') format('woff2');
} 

  h1{
    color: #FF5701;
    font-size: 90px;
    font-family: "think";
  }

  h2{
    color: #FF5701;

    font-family: "think";
    font-size: 65px;
}

h3{
  
    font-family: "Montserrat";
    font-size: 35px;
    font-weight: 600;
}
h4{
    font-family: "Montserrat", sans-serif;
    font-size: 25px;
}

h5{
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: 600;
}


  p{
    font-family: "open-sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }

  li{
    font-family: "open-sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
  }


  @media (max-width: 768px) {
    h1{
        font-size: 38px;
        font-family: "think", sans-serif;
      }

      h2{
        font-family: "think", sans-serif;
        font-size: 30px;
    }
    
    h3{
        font-family: "Montserrat", sans-serif;
        font-size: 20px;
        font-weight: 600;
    }
    h4{
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
    }

    h5{
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
        font-weight: 600;
    }
    
      p{
        font-family: "open-sans", sans-serif;
        font-size: 14px;
        font-weight: 400;
      }

      li{
        font-family: "open-sans", sans-serif;
        font-size: 14px;
        font-weight: 400;

      }

  }
