@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
 /*    @font-face {
        font-family: "think", scroll-padding-inline-start: ;serif;
        font-style: normal;
        src: url(../font/think.regular.woff2) format('woff2');
    } */

}

  h1{
    color: #1e1c1c;
    font-size: 45px;
    font-family: "think", sans-serif;
    font-weight: normal;
    font-style: normal;
  }


h3{
    font-family: "Montserrat", sans-serif;

}

  p{
    font-family: "open-sans", sans-serif;

  }