---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Tilmeld">
  <article class=" md:px-xl px-sm bg-beige-300">
    <h1 class=" mb-ml text-center pt-8xl">Er du klar til at tage springet?</h1>

    <div class="mx-auto md:px-10xl mt-m">
      <p class="mb-ml">
        Er du klar til at tage springet? Udfyld formularen nedenfor og sikre din
        plads på en rejse fyldt med fællesskab, uforglemmelige oplevelser og
        inspirerende læring. Vi glæder os til at have dig med på holdet!
      </p>
	  <p class="pb-xs">
		<span class="font-bold">Kontaktinfo:</span>
		 (Navn skal fremgå 100% som i dit pas og dit pas skal være gyldigt i 6 måneder efter hjemkomst)
      </p>
      <form class="pb-ml">
        <!-- Contact Info -->
        <div class="grid grid-cols-1 sm:grid-cols-2 gap-sm">
          <div>
            <label for="first-name" class="block"></label>
            <input
              type="text"
              id="first-name"
              name="first-name"
              placeholder="Navn"
              required
              class="mt-1 block w-full bg-beige-500  border border-black-100 rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 sm:text-sm p-xxs"
            />
          </div>
          <div>
            <label
              for="last-name"
              class="block "></label>
            <input
              type="text"
              id="last-name"
              name="last-name"
              placeholder="Efternavn"
              required
              class="mt-1 block w-full  bg-beige-500  border border-black-100  rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 sm:text-sm p-xxs"
            />
          </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-sm mt-sm">
          <div>
            <label for="address" class="block"
            ></label>
            <input
              type="text"
              id="address"
              name="address"
              placeholder="Adresse"
              required
              class="mt-1 block w-full  bg-beige-500  border border-black-100  rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 sm:text-sm p-xxs"
            />
          </div>
          <div>
            <label
              for="postal-code"
              class="block"></label>
            <input
              type="text"
              id="postal-code"
              name="postal-code"
              placeholder="Postnummer"
              required
              class="mt-1 block w-full  bg-beige-500  border border-black-100  rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 sm:text-sm p-xxs"
            />
          </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-sm mt-sm">
          <div>
            <label for="city" class="block "
            ></label>
            <input
              type="text"
              id="city"
              name="city"
              placeholder="By"
              required
              class="mt-1 block w-full  bg-beige-500  border border-black-100  rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 sm:text-sm p-xxs"
            />
          </div>
          <div>
            <label for="gender" class="block"
            ></label>
            <select
              id="gender"
              name="gender"
              required
              class="mt-1 block w-full  bg-beige-500  border border-black-100  rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 sm:text-sm p-xxs"
            >
              <option class="text-black-200" value=""
                >Køn (som det fremgår i dit pas)</option
              >
              <option value="male">Mand</option>
              <option value="female">Kvinde</option>
              <option value="other">Andet</option>
            </select>
          </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-sm mt-sm">
          <div>
            <label for="phone" class="block  "
            ></label>
            <input
              type="tel"
              id="phone"
              name="phone"
              placeholder="Telefonnummer"
              required
              class="mt-1 block w-full  bg-beige-500  border border-black-100  rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 sm:text-sm p-xxs"
            />
          </div>
          <div>
            <label for="email" class="block "
            ></label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="E-mail"
              required
              class="mt-1 block w-full  bg-beige-500  border border-black-100  rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 sm:text-sm p-xxs"
            />
          </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-sm mt-sm">
          <div>
            <label
              for="birthdate"
              class="block "></label>
            <input
              type="date"
              id="birthdate"
              name="birthdate"
              placeholder="Fødselsdato"
              required
              class="mt-1 block w-full  bg-beige-500  border border-black-100  rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 sm:text-sm p-xxs"
            />
          </div>
          <div>
            <label for="stay" class="block "
            ></label>
            <select
              id="stay"
              name="stay"
              required
              class="mt-1 block w-full  bg-beige-500  border border-black-100  rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 sm:text-sm p-xxs"
            >
              <option value="">Vælg ophold</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
            </select>
          </div>
        </div>

        <div class="grid grid-cols-1 sm:grid-cols-2 gap-sm mt-sm mb-sm">
          <!-- Notes -->
          <div class="">
            <label for="notes" class="block text-sm font-medium pb-xxs"
              >Bemærkninger: (F.eks. allergier, kostpræferencer, medicinske
              forhold eller særlige behov)</label
            >
            <textarea
              id="notes"
              name="notes"
              rows="4"
              class="mt-xxs block w-full  bg-beige-500  border border-black-100  rounded-md shadow-sm focus:ring-orange-500 focus:border-orange-500 sm:text-sm p-xxs"
              placeholder="F.eks. allergier, kostpræferencer, medicinske forhold eller særlige behov"
            ></textarea>
          </div>

          <!-- Checkboxes -->
          <div class="pt-sm">
            <div class="flex items-start gap-s pb-s">
              <input
                id="correct-info"
                name="correct-info"
                type="checkbox"
                required
                class="h-4 w-4  text-orange-500  bg-beige-500  border border-black-100"
              />
              <label
                for="correct-info"
                class="ml-xxs block text-sm"
              >
                Jeg har sikret mig at ovenstående informationer er 100%
                korrekte.
              </label>
            </div>
            <div class="flex items-start gap-s">
              <input
                id="terms"
                name="terms"
                type="checkbox"
                required
                class="h-4 w-4 text-orange-500  bg-beige-500  border border-black-100 "
              />
              <label for="terms" class="ml-xxs block text-sm ">
                Jeg har læst jeres <a href="#" class="text-orange-500 underline"
                  >privatlivspolitik</a
                > og <a href="#" class="text-orange-500 underline"
                  >generelle bestemmelser</a
                > og er indforstået med begge.
              </label>
            </div>
            <!-- Submit Button -->
            <div class="pt-sm flex justify-end">

              <Button type="submit"  variant="desktop_dark_orange" size="medium"> TILMELD DIG</Button>

             <!--  <button
                type="submit"
                class="w-full bg-orange-500 text-beige-100 py-2 px-4 rounded-md shadow-sm hover:bg-orange-400 focus:outline-none focus:ring-2 focus:ring-orange-500 focus:ring-offset-2"
              >
                TILMELD DIG
              </button> -->
            </div>
          </div>
        </div>
      </form>
    </div>
  </article>
</MainLayout>
