---
import { Image } from "astro:assets";

import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Intromoede from "../components/Intromoede.astro";
import Underviser from "../components/underviser.astro";
import Logotrustpilot from "../assets/images/trustpilot-logo.webp";
import Trustpilot from "../components/trustpilot.astro";
---


<MainLayout title="Højskolendk">
  <!-- LANDING SEKTION -->
  <section
    class="relative w-full h-screen bg-cover bg-center"
    style="background-image: url('/src/assets/images/velkommen.webp');"
  >
    <div class="relative z-10 flex flex-col items-center">
      <h1 class="mt-m">HÖJSKOLENDK</h1>
    </div>

    <div
      class="relative z-10 flex flex-col items-start justify-center ml-lg mt-2xl"
    >
      <p class="mb-xs">En rejse for dig og din fremtid - Starter her!</p>

      <Button label="FIND DIN REJSE »" variant="desktop_dark_orange" href="#" />
    </div>
  </section>

  <!-- DIT LIVS EVENTYR! -->
  <section class="bg-beige-500 p-xl">
    <div class="grid grid-cols-1 sm:grid-cols-[2fr_1fr] gap-s">
      <div class="bg-beige-200 p-s rounded-md">
        <h1>DIT LIVS EVENTYR!</h1>
        <p>
          HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi
          brænder for oplevelser, fællesskab og mødet med nye mennesker og
          kulturer; derfor laver vi eventyrlige højskoleophold i udlandet.
        </p>
        <p>
          HÖJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet og er
          vild med højskole-fællesskab, vil med på et fantastisk rejseeventyr,
          glæder dig til at lære om fremmede kulturer, vil rejse med rygsæk,
          drømmer om en fed grupperejse med andre skønne unge, vil opleve et
          stærkt sammenhold og ønsker inspirerende og meningsfuld undervisning.
          Du er sikker på en tryg rejseoplevelse da vi er medlem af
          Rejsegarantifonden.
        </p>
        <p class="text-orange-500">Vi glæder os til at lære DIG at kende!</p>
      </div>

      <div class="">
        <img
          src="/src/assets/images/piger.webp"
          alt="To unge kvinder i en mark"
          class="max-w-sm"
        />
      </div>
    </div>
  </section>


   <!-- trustpilot -->
   <section>
	<div class="flex flex-col items-center p-sm ">
		<h2>Andmeldelser fra tidligere højskoleelever</h2>
  <Image src={Logotrustpilot} alt="TrustpilotLogo" class="md:-mt-2xl -mt-sm w-[140px] md:w-[221px]" />
</div>
<div class="flex flex-row items-center justify-center space-x-s md:-mt-5xl -mt-ml">
<h4 >4,8</h4>
<!-- stjerner -->
<div class="flex flex-row">
<!-- 1 -->
<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="w-m h-m md:w-xl md:h-xl" >
	<polygon 
	  points="50,5 61,39 98,39 68,59 79,91 50,72 21,91 32,59 2,39 39,39" 
	  fill="gold" 
	  stroke="goldenrod" 
	  stroke-width="0"
	/>
  </svg>
  <!-- 2 -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="w-m h-m md:w-xl md:h-xl" >
	<polygon 
	  points="50,5 61,39 98,39 68,59 79,91 50,72 21,91 32,59 2,39 39,39" 
	  fill="gold" 
	  stroke="goldenrod" 
	  stroke-width="0"
	/>
  </svg>
  <!-- 3 -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="w-m h-m md:w-xl md:h-xl" >
	<polygon 
	  points="50,5 61,39 98,39 68,59 79,91 50,72 21,91 32,59 2,39 39,39" 
	  fill="gold" 
	  stroke="goldenrod" 
	  stroke-width="0"
	/>
  </svg>
  <!-- 4 -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="w-m h-m md:w-xl md:h-xl" >
	<polygon 
	  points="50,5 61,39 98,39 68,59 79,91 50,72 21,91 32,59 2,39 39,39" 
	  fill="gold" 
	  stroke="goldenrod" 
	  stroke-width="0"
	/>
  </svg>
  <!-- 5 -->
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" class="w-m h-m md:w-xl md:h-xl" >
	<polygon 
	  points="50,5 61,39 98,39 68,59 79,91 50,72 21,91 32,59 2,39 39,39" 
	  fill="gold" 
	  stroke="goldenrod" 
	  stroke-width="0"
	/>
  </svg>
</div>
<h4 >(100)</h4>
</div>

<!--       <div class="grid md:grid-cols-4 gap-x-s p-ml">
-->        <!-- william -->
<div class="trust grid md:grid-cols-4 gap-x-s p-ml overflow-x-auto md:overflow-visible">

	<Trustpilot
	  elevfoto="Card/william.png"
	  ,
	  elevalt="William D. Birch profilbillede"
	  ,
	  elevnavn="William D. Birch"
	  ,
	  dato="22 jun. 2024"
	  ,
	  elevanmeldelse="Hvis man gerne vil ud og rejse, men også vil møde nogle nye mennesker. Så vil jeg helt klart anbefale Höjskolendk. Jeg havde den fedeste tur fra Januar til april måned i 2024 på turen som hedder, Hawaii, Australien, Japan, Bali og Gili."
	  ,
	/>

	<!-- mikkel  -->
	<Trustpilot
	  elevfoto="Card/mikkel.png"
	  ,
	  elevalt="Mikkel profilbillede"
	  ,
	  elevnavn="Mikkel Berg"
	  ,
	  dato="20 jun. 2024"
	  ,
	  elevanmeldelse="Jeg var på turen Hawaii, Australien, Japan, Bali og Gili i foråret 2024 - sikke en oplevelse! Selve rejsen var godt planlagt med fede aktiviteter og udflugter, som man ikke nødvendigvis kunnet ha’ arrangeret, hvis man rejste på egen hånd."
	  ,
	/>

	<!-- Dicte Jørgensen -->
	<Trustpilot
	  elevfoto="Card/dicte.png"
	  ,
	  elevalt="Dicte Jørgensen profilbillede"
	  ,
	  elevnavn="Dicte Jørgensen"
	  ,
	  dato="20 jun. 2024"
	  ,
	  elevanmeldelse="At have rejst verden rundt med höjskolendk, har uden tvivl været en af de bedste beslutninger nogensinde! At rejse rundt med så mange unge mennesker, og nogle fantastiske rejseledere gør, at man ser verden og de forskellige kulturer på en helt anden måde."
	  ,
	/>

	<!--  -->
	<Trustpilot
	  elevfoto="Card/signe.png"
	  ,
	  elevalt="Signe N. Christensen profilbillede"
	  ,
	  elevnavn="Signe Christensen"
	  ,
	  dato="20 jun. 2024"
	  ,
	  elevanmeldelse="Höjskolendk giver en tryg og sikker rejseform. Man har altid sine rejseledere at læne sig op ad, hvilket er skønt når man ikke har særlig meget erfaring med verden uden for Danmark. På samme tid skaber man venskaber for livet, som virkelig er en gave i sig selv!"
	  ,
	/>
  </div>
</section>


    <!-- underviser -->
    <section class="p-ml pt-xl">
		<h2 class="text-center">MØD VORES REJSEGUIDES</h2>
		<!-- cards -->
		<div class="grid md:grid-cols-5 grid-cols-2 md:gap-m gap-s md:p-ml p-sm">
		  <Underviser
			underviserfoto="underviser/louise.webp"
			underviserfotoalt="Underviser Louise s. bruun"
			,
			undervisernavn="Louise s. Bruun"
			,
			underviserinfo="Kontor, rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/asta.webp"
			underviserfotoalt="Underviser Asta Nørby Dahl"
			,
			undervisernavn="Asta Nørby Dahl"
			,
			underviserinfo="Digital Media Manager"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/andreas.webp"
			underviserfotoalt="Underviser Andreas Laforcel"
			,
			undervisernavn="Andreas Laforcel"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/henrik.webp"
			underviserfotoalt="Underviser Henrik Hjørnevik"
			,
			undervisernavn="Henrik Hjørnevik"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/signe.webp"
			underviserfotoalt="Underviser Signe A. Westh"
			,
			undervisernavn="Signe A. Westh"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/anne.webp"
			underviserfotoalt="Underviser Anne Nørkjær"
			,
			undervisernavn="Anne Nørkjær"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/sarah.webp"
			underviserfotoalt="Underviser Sarah Grønager"
			,
			undervisernavn="Sarah Grønager"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/christian.webp"
			underviserfotoalt="Underviser Christian Frydkjær"
			,
			undervisernavn="Christian Frydkjær"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/mattias.webp"
			underviserfotoalt="Underviser Mattias Yde"
			,
			undervisernavn="Mattias Yde"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/jakob.webp"
			underviserfotoalt="Underviser Jakob Abu-Khalil"
			,
			undervisernavn="Jakob Abu-Khalil"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/SarahP.webp"
			underviserfotoalt="Underviser Sarah Pope"
			,
			undervisernavn="Sarah Pope"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/AnneK.webp"
			underviserfotoalt="Underviser Anne K. Mathiasen"
			,
			undervisernavn="Anne K. Mathiasen"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/AnneKP.webp"
			underviserfotoalt="Underviser Anne Kathrine Grove"
			,
			undervisernavn="Anne Kathrine Grove"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/Alexander.webp"
			underviserfotoalt="Underviser Alexander Poulsen"
			,
			undervisernavn="Alexander Poulsen"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/frederik.webp"
			underviserfotoalt="Underviser Frederik Bruun"
			,
			undervisernavn="Frederik Bruun"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
		</div>
	  </section>
  

	  <Intromoede />




</MainLayout>

<style>
	/* Flexbox horisontal scrol mobile og tablet*/
		.trust {
  display: flex; 
  gap: 1rem;
  overflow-x: auto; 
  scrollbar-width: thin; 
  -webkit-overflow-scrolling: touch; 
  padding-bottom: 1rem; 
}

/* desktop*/
@media (min-width: 1298px) {
  .trust {
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    overflow-x: visible; 
  }
}
</style>