---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Intromoede from "../components/Intromoede.astro";
---

<MainLayout title="Højskolendk">
	<article>
		<h1>HØJSKOLENDK</h1>
	<h3>HØJSKOLENDK</h3>
		<p>HØJSKOLENDK</p>
	</article>
</MainLayout>
