---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Intromoede from "../components/Intromoede.astro";
import Underviser from "../components/underviser.astro";

---

<MainLayout title="Højskolendk">
  <!-- LANDING SEKTION -->
  <section
    class="relative w-full h-screen bg-cover bg-center"
    style="background-image: url('/src/assets/images/velkommen.webp');"
  >
    <div class="relative z-10 flex flex-col items-center">
      <h1 class="mt-m">HÖJSKOLENDK</h1>
    </div>

    <div
      class="relative z-10 flex flex-col items-start justify-center ml-lg mt-2xl"
    >
      <p class="mb-xs">En rejse for dig og din fremtid - Starter her!</p>

      <Button label="FIND DIN REJSE »" variant="desktop_dark_orange" href="#" />
    </div>
  </section>

  <!-- DIT LIVS EVENTYR! -->
  <section class="bg-beige-500 p-xl">
    <div class="grid grid-cols-1 sm:grid-cols-[2fr_1fr] gap-s">
      <div class="bg-beige-200 p-s rounded-md">
        <h1>DIT LIVS EVENTYR!</h1>
        <p>
          HÖJSKOLENDK er en dansk højskole for unge i alderen ca. 18-30 år. Vi
          brænder for oplevelser, fællesskab og mødet med nye mennesker og
          kulturer; derfor laver vi eventyrlige højskoleophold i udlandet.
        </p>
        <p>
          HÖJSKOLENDK er noget for dig, hvis du vil på højskole i udlandet og er
          vild med højskole-fællesskab, vil med på et fantastisk rejseeventyr,
          glæder dig til at lære om fremmede kulturer, vil rejse med rygsæk,
          drømmer om en fed grupperejse med andre skønne unge, vil opleve et
          stærkt sammenhold og ønsker inspirerende og meningsfuld undervisning.
          Du er sikker på en tryg rejseoplevelse da vi er medlem af
          Rejsegarantifonden.
        </p>
        <p class="text-orange-500">Vi glæder os til at lære DIG at kende!</p>
      </div>

      <div class="">
        <img
          src="/src/assets/images/piger.webp"
          alt="To unge kvinder i en mark"
          class="max-w-sm"
        />
      </div>
    </div>
  </section>


  <Intromoede />




    <!-- underviser -->
    <section class="p-ml pt-xl">
		<h2 class="text-center">MØD VORES REJSEGUIDES</h2>
		<!-- cards -->
		<div class="grid md:grid-cols-5 grid-cols-2 md:gap-m gap-s md:p-ml p-sm">
		  <Underviser
			underviserfoto="underviser/louise.webp"
			underviserfotoalt="Underviser Louise s. bruun"
			,
			undervisernavn="Louise s. Bruun"
			,
			underviserinfo="Kontor, rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/asta.webp"
			underviserfotoalt="Underviser Asta Nørby Dahl"
			,
			undervisernavn="Asta Nørby Dahl"
			,
			underviserinfo="Digital Media Manager"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/andreas.webp"
			underviserfotoalt="Underviser Andreas Laforcel"
			,
			undervisernavn="Andreas Laforcel"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/henrik.webp"
			underviserfotoalt="Underviser Henrik Hjørnevik"
			,
			undervisernavn="Henrik Hjørnevik"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/signe.webp"
			underviserfotoalt="Underviser Signe A. Westh"
			,
			undervisernavn="Signe A. Westh"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/anne.webp"
			underviserfotoalt="Underviser Anne Nørkjær"
			,
			undervisernavn="Anne Nørkjær"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/sarah.webp"
			underviserfotoalt="Underviser Sarah Grønager"
			,
			undervisernavn="Sarah Grønager"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/christian.webp"
			underviserfotoalt="Underviser Christian Frydkjær"
			,
			undervisernavn="Christian Frydkjær"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/mattias.webp"
			underviserfotoalt="Underviser Mattias Yde"
			,
			undervisernavn="Mattias Yde"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/jakob.webp"
			underviserfotoalt="Underviser Jakob Abu-Khalil"
			,
			undervisernavn="Jakob Abu-Khalil"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/SarahP.webp"
			underviserfotoalt="Underviser Sarah Pope"
			,
			undervisernavn="Sarah Pope"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/AnneK.webp"
			underviserfotoalt="Underviser Anne K. Mathiasen"
			,
			undervisernavn="Anne K. Mathiasen"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/AnneKP.webp"
			underviserfotoalt="Underviser Anne Kathrine Grove"
			,
			undervisernavn="Anne Kathrine Grove"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/Alexander.webp"
			underviserfotoalt="Underviser Alexander Poulsen"
			,
			undervisernavn="Alexander Poulsen"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
  
		  <Underviser
			underviserfoto="underviser/frederik.webp"
			underviserfotoalt="Underviser Frederik Bruun"
			,
			undervisernavn="Frederik Bruun"
			,
			underviserinfo="Rejseleder og underviser"
			,
		  />
		</div>
	  </section>
  

</MainLayout>
