---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Intromoede from "../components/Intromoede.astro";
---

<MainLayout title="Højskolendk">
  <article class="text-center px-s py-m">
    <h1>HØJSKOLENDK</h1>
  </article>
  <Intromoede />
</MainLayout>
