---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Intromoede from "../components/Intromoede.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Oversigt">
  <article>
    <section>
      <img src="src/assets/images/surfer.webp" alt="rejsende" />
      <div class="container mx-auto">
        <h2>HØJSKOLE I CARIBIEN, HAWAII & MEXICO</h2>
        <p class="max-w-2xl">
          Tag med på drømmenes højskoleophold til et vaskeægte paradis med
          verdens bedste strande, surfing, den smukkeste natur og sol hver dag.
          Et rejseeventyr med masser af adventure på vulkaner, i regnskov og
          ikke mindst på, i og under vandet. En fantastisk højskole i udlandet.
        </p>

        <h5 class="pb-m pt-m">Varighed: 3 måneder</h5>

        <div>
          <h5>Information om turen</h5>
          <ul class="pb-m">
            <li>INTRODAGE: NEW YORK CITY, USA</li>
            <li>1 MÅNED: NEW YORK CITY, USA</li>
            <li>2 MÅNED: PLAYA DEL CARMEN, MEXICO</li>
            <li>3 MÅNED: ST. CROIX & PUERTO RICO, CARIBIEN</li>
          </ul>
        </div>

        <div class="pt-m">
          <h4 class="font-semibold">Afrejse</h4>
          <p>Flybiletter tur/retur er inkluderet.</p>

          <hr class="py-s" />
          <div class="grid grid-cols-3 content-end">
            <p class="text-orange-500">20. OKTOBER 2025</p>
            <p class="text-orange-500 font-bold">ca pris: 67.900 dkk</p>
          </div>
          <hr class="py-s" />
        </div>
        <div class="mt-6 flex gap-xs">
          <Button
            label="Notifikationer om opholdet"
            variant="desktop_dark_orange"
            href="#"
          />

          <Button label="Infomøde" variant="desktop_light_orange" href="#" />
          <Button label="Læs mere" variant="desktop_blue" href="#" />
        </div>
      </div>
    </section>
  </article>
  <Intromoede />
</MainLayout>
