---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Intromoede from "../components/Intromoede.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Rejse">
  <article>
    <section class="pt-2xl">
      <img src="src/assets/images/surfer.webp" alt="rejsende" />
      <div class="container mx-auto md:p-lg p-xs">
        <h2>HØJSKOLE I CARIBIEN, HAWAII & MEXICO</h2>
        <p class="max-w-2xl">
          Tag med på drømmenes højskoleophold til et vaskeægte paradis med
          verdens bedste strande, surfing, den smukkeste natur og sol hver dag.
          Et rejseeventyr med masser af adventure på vulkaner, i regnskov og
          ikke mindst på, i og under vandet. En fantastisk højskole i udlandet.
        </p>

        <h5 class="pb-m pt-m">Varighed: <span class="text-orange-500">3 måneder</span> </h5>

        <div>
          <h4 class="pb-xxs font-bold" >Information om turen</h4>
          <ul class="pb-m">
            <li><span class="font-semibold">INTRODAGE:</span>  NEW YORK CITY, USA</li>
            <li class="py-xxs"><span class="font-semibold">1 MÅNED:</span>  NEW YORK CITY, USA</li>
            <li><span class="font-semibold">2 MÅNED:</span> PLAYA DEL CARMEN, MEXICO</li>
            <li class="py-xxs"> <span class="font-semibold">3 MÅNED:</span> ST. CROIX & PUERTO RICO, CARIBIEN</li>
          </ul>
        </div>

        <div class="pt-m">
          <div class="flex gap-x-s">
          <p class="font-semibold">AFREJSE</p>
          <p class="text-black-600 font-thin">Flybiletter tur/retur er inkluderet.</p>
        </div>

          <hr class="py-s" />
          <div class="flex justify-between ">
            <p class="text-orange-500">20. OKTOBER 2025</p>
            <p class="text-orange-500 font-bold"><span class="text-blue-800 font-thin ">ca. pris: </span> 67.900 dkk</p>
          </div>
          <hr class="py-xs" />
        </div>
        <div class="mt-6 flex md:flex-row flex-col md:justify-between gap-xs">
          <Button variant="desktop_dark_orange" size="medium"
            >NOTIFIKATIONER OM OPHOLDET</Button
          >
          <div class="flex flex-col md:flex-row  gap-xs">
          <Button variant="desktop_light_orange" size="medium">INFOMØDE</Button>
          <Button variant="desktop_blue" size="medium">LÆS MERE</Button>
        </div>
          <!-- <Button
            label="Notifikationer om opholdet"
            variant="desktop_dark_orange"
            href="#"
          />

          <Button label="Infomøde" variant="desktop_light_orange" href="#" />
          <Button label="Læs mere" variant="desktop_blue" href="#" /> -->
        </div>
      </div>
    </section>

    <!--  -->
    <section class="md:p-4xl p-xs">
      <div
        class="w-full max-w-6xl mx-auto bg-beige-500 shadow-md rounded-md p-4"
      >
        <!-- Tabs Buttons -->
        <div
        

          class="flex md:flex-row flex-col  justify-between p-xxs  md:p-s border-b border-gray-300 space-x-2 md:space-x-0 "
          id="tabs"
        >
          <button
            class="tab-button px-4 py-2 text-lg font-medium transition hover:text-orange-500"
            data-tab="overview"
          >
            OVERBLIK
          </button>
          <button
            class="tab-button px-4 py-2 text-lg font-medium transition hover:text-orange-500"
            data-tab="program"
          >
            PROGRAM
          </button>
          <button
            class="tab-button px-4 py-2 text-lg font-medium transition hover:text-orange-500"
            data-tab="included"
          >
            INKLUDERET
          </button>
          <button
            class="tab-button px-4 py-2 text-lg font-medium transition hover:text-orange-500"
            data-tab="subjects"
          >
            FAG
          </button>
          <button
            class="tab-button px-4 py-2 text-lg font-medium transition hover:text-orange-500"
            data-tab="contact"
          >
            KONTAKT
          </button>
        </div>

        <!-- Tabs indhold -->
        <div class="mt-4 p-sm">
          <div class="tab-content hidden" id="overview">
            <div class="grid grid-cols-1 gap-m md:grid-cols-2">
              <div>
                <p>
                  Tag med på drømmenes højskoleophold til et vaskeægte paradis
                  med verdens bedste strande, surfing, den smukkeste natur og
                  sol hver dag. Et rejseeventyr med masser af adventure på
                  vulkaner, i regnskov og ikke mindst på, i og under vandet. En
                  fantastisk højskole i udlandet.
                </p>
                <p class="py-xxs">
                  Som en perlesnor langt ude i Stillehavet ligger ø-gruppen
                  Hawaii med noget af planetens mest storslåede og vilde natur.
                  Tropiske regnskove, brusende floder, vilde vulkaner, brølende
                  vandfald på dramatiske bjerge og aloha-spirit har placeret
                  Hawaii på enhvers eventyrlystens sjæls travel-bucket-list.
                   Glæd dig til at opleve Honolulu, Waikiki Beach, de
                  fantastiske hvide, sorte, røde og grønne sandstrande,
                  vulkan-kratere, berømte surf-spots, noget af verdens bedste
                  dykning (med bl.a. Manta Ray Nightdive), hvalsafari, delfiner
                  der leger i bugterne og hawaiiansk hula-fest.
                </p>
                <p>
                  Mexico byder på en fantastisk kombination af sol, varme,
                  eksotiske og lækre strande, et perfekt klima og naturskønne
                  omgivelser på Yucatan halvøen.
                </p>
              </div>
<div>
  <p>Vi oplever den ældgamle mayakultur, med inka-ruiner og maya indianere, og udforsker områdets fantastiske natur og dyreliv – over og under vand. Vi bor downtown i Playa del Carmen, hvor der både er plads til undervisning, chill-time og masser af lækkert højskolefællesskab.</p>
  <p class="py-xxs"> Glæd dig til alle de fantastiske mad-oplevelser og hyggelige gadekøkkener med det lækreste mexicanske mad.</p>
  <p>På St. Croix i Caribien kan du glæde dig til at opleve nogle af verdens smukkeste strande med azurblåt vand og svajende palmer, der sammen med øens eksotiske troperytmer, let kan kaldes et barfods-paradis. Øen er fyldt med eventyr, tætbeklædt regnskov, fede hike muligheder, gemte oaser og hvis du hopper i havet, kan du udforske en helt ny verden af oplevelser med snorkel og maske. </p>
<p class="py-xxs">Der er rig mulighed for at se både havskildpadder, rev-hajer og eksotiske fisk i alle regnbuens farver. Her kan man runde dagen af med fødderne i det varme sand og skåle solen på gensyn fra en vaskeægte beach-bar.</p>
</div>
              
            </div>
          </div>
          <div class="tab-content hidden" id="program">
            <p class="text-black-200">
              Information kommer snart
            </p>
          </div>
          <div class="tab-content hidden" id="included">
            <p class="text-black-200">
              Information kommer snart
            </p>
          </div>
          <div class="tab-content hidden" id="subjects">
            <p class="text-black-200">
              Information kommer snart
            </p>
          </div>
          <div class="tab-content hidden" id="contact">
            <p class="text-black-200">
              Information kommer snart
            </p>
          </div>
        </div>
      </div>
    </section>

    <!--  -->

    <Intromoede />
  </article>
</MainLayout>
<script>
// Hent alle buttons og indholdselementer
const tabButtons = document.querySelectorAll(".tab-button");
  const tabContents = document.querySelectorAll(".tab-content");

  tabButtons.forEach((button) => {
    button.addEventListener("click", () => {
    // Fjern den aktive tilstand fra alle knapper
    tabButtons.forEach((btn) => btn.classList.remove("text-orange-500"));
    // Tilføj aktiv tilstand til den klikkede knap
    button.classList.add("text-orange-500");

    // Skjul alt fanebindhold
    tabContents.forEach((content) => content.classList.add("hidden"));

    // Vis det indhold, der er forbundet med den aktive knap
    const tabId = button.getAttribute("data-tab");
      document.getElementById(tabId).classList.remove("hidden");
    });
  });
</script>
