---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import Intromoede from "../components/Intromoede.astro";
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
---

<MainLayout title="Oversigt">
  <article>
    <section>
      <img src="src/assets/images/surfer.webp" alt="rejsende" />
      <div class="container mx-auto">
        <h2>HØJSKOLE I CARIBIEN, HAWAII & MEXICO</h2>
        <p class="max-w-2xl">
          Tag med på drømmenes højskoleophold til et vaskeægte paradis med
          verdens bedste strande, surfing, den smukkeste natur og sol hver dag.
          Et rejseeventyr med masser af adventure på vulkaner, i regnskov og
          ikke mindst på, i og under vandet. En fantastisk højskole i udlandet.
        </p>

        <h5 class="pb-m pt-m">Varighed: 3 måneder</h5>

        <div>
          <h5>Information om turen</h5>
          <ul class="pb-m">
            <li>INTRODAGE: NEW YORK CITY, USA</li>
            <li>1 MÅNED: NEW YORK CITY, USA</li>
            <li>2 MÅNED: PLAYA DEL CARMEN, MEXICO</li>
            <li>3 MÅNED: ST. CROIX & PUERTO RICO, CARIBIEN</li>
          </ul>
        </div>

        <div class="pt-m">
          <h4 class="font-semibold">Afrejse</h4>
          <p>Flybiletter tur/retur er inkluderet.</p>

          <hr class="py-s" />
          <div class="grid grid-cols-3 content-end">
            <p class="text-orange-500">20. OKTOBER 2025</p>
            <p class="text-orange-500 font-bold">ca pris: 67.900 dkk</p>
          </div>
          <hr class="py-xs" />
        </div>
        <div class="mt-6 flex gap-xs">
          <Button
            label="Notifikationer om opholdet"
            variant="desktop_dark_orange"
            href="#"
          />

          <Button label="Infomøde" variant="desktop_light_orange" href="#" />
          <Button label="Læs mere" variant="desktop_blue" href="#" />
        </div>
      </div>
    </section>
    <section class="pt-xl">
      <div class="container mx-auto p-6 bg-beige-50 rounded-lg shadow-lg">
        <!-- Tabs -->
        <div class="flex justify-between border-b border-gray-300 mb-4">
          <button
            class="px-4 py-2 text-orange-500 font-semibold border-b-4 border-orange-500 bg-beige-500 pt-xs pl-xl pr-xl rounded-t-md"
          >
            OVERBLIK
          </button>
          <button
            class="px-4 py-2 text-gray-500 hover:text-orange-500 pt-xs pl-xl pr-xl rounded-t-md border-2 border-black-100"
          >
            PROGRAM
          </button>
          <button
            class="px-4 py-2 text-gray-500 hover:text-orange-500 pt-xs pl-xl pr-xl rounded-t-md border-2 border-black-100"
          >
            INKLUDERET
          </button>
          <button
            class="px-4 py-2 text-gray-500 hover:text-orange-500 pt-xs pl-xl pr-xl rounded-t-md border-2 border-black-100"
          >
            FAG
          </button>
          <button
            class="px-4 py-2 text-gray-500 hover:text-orange-500 pt-xs pl-xl pr-xl rounded-t-md border-2 border-black-100"
          >
            KONTAKT
          </button>
        </div>

        <!-- Content -->
        <div
          class="grid md:grid-cols-2 gap-6 text-gray-700 bg-beige-500 mb-xl rounded-b-md border-black-100"
        >
          <!-- Section 1 -->
          <div class="pt-m pr-m">
            <p class="pb-xs">
              Tag med på drømmenes højskoleophold til et vaskeægte paradis med
              verdens bedste strande, surfing, den smukkeste natur og sol hver
              dag. Et rejseeventyr med masser af adventure på vulkaner, i
              regnskov og ikke mindst på, i og under vandet. En
              fantastisk højskole i udlandet.
            </p>

            <p class="pb-xs">
              Som en perlesnor langt ude i Stillehavet ligger ø-gruppen Hawaii
              med noget af planetens mest storslåede og vilde natur. Tropiske
              regnskove, brusende floder, vilde vulkaner, brølende vandfald på
              dramatiske bjerge og aloha-spirit har placeret Hawaii på enhvers
              eventyrlystens sjæls travel-bucket-list. Glæd dig til at opleve
              Honolulu, Waikiki Beach, de fantastiske hvide, sorte, røde og
              grønne sandstrande, vulkan-kratere, berømte surf-spots, noget af
              verdens bedste dykning (med bl.a. Manta Ray Nightdive),
              hvalsafari, delfiner der leger i bugterne og hawaiiansk hula-fest.
            </p>
            <p class="pb-xs">
              Mexico byder på en fantastisk kombination af sol, varme, eksotiske
              og lækre strande, et perfekt klima og naturskønne omgivelser på
              Yucatan halvøen.
            </p>
          </div>

          <div class="pt-m pl-m">
            <p class="pb-s">
              Vi oplever den ældgamle mayakultur, med inka-ruiner og maya
              indianere, og udforsker områdets fantastiske natur og dyreliv –
              over og under vand. Vi bor downtown i Playa del Carmen, hvor der
              både er plads til undervisning, chill-time og masser af lækkert
              højskolefællesskab.
            </p>
            <p class="pb-xs">
              Glæd dig til alle de fantastiske mad-oplevelser og hyggelige
              gadekøkkener med det lækreste mexicanske mad.
            </p>
            <p class="pb-xs">
              På St. Croix i Caribien kan du glæde dig til at opleve nogle af
              verdens smukkeste strande med azurblåt vand og svajende palmer,
              der sammen med øens eksotiske troperytmer, let kan kaldes et
              barfods-paradis. Øen er fyldt med eventyr, tætbeklædt regnskov,
              fede hike muligheder, gemte oaser og hvis du hopper i havet, kan
              du udforske en helt ny verden af oplevelser med snorkel og maske.
            </p>
            <p class="pb-xs">
              Der er rig mulighed for at se både havskildpadder, rev-hajer og
              eksotiske fisk i alle regnbuens farver. Her kan man runde dagen af
              med fødderne i det varme sand og skåle solen på gensyn fra en
              vaskeægte beach-bar.
            </p>
          </div>
        </div>
      </div>
    </section>
  </article>
  <Intromoede />
</MainLayout>
