---
import { Image } from "astro:assets";
import verdensskovelogo from "../assets/images/Verdens-skove.png";
import Samarbejdspartnere from "../assets/images/Samarbejdspartnere.webp";
---

<section class="bg-blue-500 text-beige-50 p-xs md:p-sm">
  <div class="grid md:grid-cols-2 pb-sm">
<!-- skov -->
    <div>
      <h3>VI GØR EN FORSKEL</h3>
      <p>
        Vi tror på at alle kan gøre en forskel – selv en højskole fra Danmark.
        Vi støtter derfor Verdens Skoves arbejde med bevarelse og bæredygtig
        brug af verdens skove.
      </p>
      <p>
        Vi har allerede fredet 106.785 m2 regnskov. Dét er vi stolte af i
        HÖJSKOLENDK.
      </p>
    </div>
    <div class="flex items-center justify-center pt-s">
    <Image src={verdensskovelogo} alt="Logo skov"></Image>
</div>

  </div>

  <!-- kontakt info -->
  <div class="flex flex-wrap justify-between	pb-sm">
    <div class="pb-s w-fit">
      <h5>HÖJSKOLENDK</h5>
      <p>Rosenørns Allé 29,</p>
      <p>1970 Frederiksberg, </p>
      <p>Danmark</p>
    
    </div>

    <div class="pb-s">
      <h5>KONTAKT</h5>
      <div class="flex">
        <p>Telefon:</p>
        <p>70279007</p>
      </div>
      <p>Mandag til Fredag // Kl. 10.00-16.00</p>
      <div class="flex">
        <p>Mail:</p>
        <p>info@hojskolendk.dk</p>
      </div>
    </div>

<div>
    <h5>SAMARBEJDSPARTNERE</h5>
    <Image src={Samarbejdspartnere} alt="Samarbejdspartnere"></Image>
</div>

  </div>

<hr class="p-xxs">
<!-- Copyright -->
<div class="flex flex-wrap justify-between		 pb-sm">
    <p>
        HÖJSKOLENDK er medlem af Rejsegarantifonden.
    </p>
    <p>Handelsbetingelser / Cookiepolitik  / Data- & Privatlivspolitik </p>
    <p class="">Copyright © HÖJSKOLENDK 2022 • CVR 32491162</p>

</div>
</section>
