---
import Link from "../components/Link.astro";
import { Image } from "astro:assets";
import Facebook from "../assets/images/ikoner/facebook.webp";
import Instagram from "../assets/images/ikoner/instagram.webp";
import Tiktok from "../assets/images/ikoner/tiktok.webp";
---
<section class="bg-beige-500 p-xs fixed z-30 w-full">
  <nav class="flex items-center justify-between px-6 py-4 bg-gray-800 text-white">
    <Link href="/" alt="" class="">
      <h2 class="text-4xl font-bold">HÖJSKOLENDK</h2>
    </Link>
    <div class="flex items-center  md:gap-x-m gap-x-xs ">
   

    <!-- Burger Menu and Social Media Icons -->
    <!-- Social Media Icons -->

    <div class="flex items-center space-x-sm">
      <a href="https://facebook.com" target="_blank" class="">
        <Image src={Facebook} alt="Facebook Logo "></Image>

      </a>
      <a href="https://instagram.com" target="_blank" class="">
        <Image src={Instagram} alt="Instagram Logo "></Image>

      </a>
      <a href="https://tiktok.com" target="_blank" class="">
        <Image src={Tiktok} alt="Tiktok Logo "></Image>

      </a>
    </div>

    <div class="relative">
      <!-- Burger Menu -->
      <button id="burger-menu" class="text-white hover:text-gray-500 focus:outline-none">
         <svg viewBox="0 0 100 80" width="30" height="30">
            <rect width="100" height="15" rx="10"></rect>
            <rect y="30" width="100" height="15" rx="10"></rect>
            <rect y="60" width="100" height="15" rx="10"></rect>
          </svg>
      </button>

      <!-- Dropdown Menu -->
      <div id="dropdown" class="hidden bg-beige-500 p-xl z-30 absolute right-[-50px]  w-[500px] bg-white rounded-md shadow-lg">
        <ul class="text-gray-800 ">
          <li><a href="/oversigt" class="block px-4 py-2 hover:text-orange-500 md:text-[30px] text-[18px] ">OVERSIGT</a></li>
          <li><a href="/singleview" class="block px-4 py-2 hover:text-orange-500 md:text-[30px] text-[18px]">REJSE</a></li>
          <li><a href="/forms" class="block px-4 py-2 hover:text-orange-500 md:text-[30px] text-[18px]">TILMELD</a></li>
        </ul>
      </div>
    </div>
  </div>
   
  </nav>
</section>


  <script>
    const burgerMenu = document.getElementById('burger-menu');
    const dropdown = document.getElementById('dropdown');

    burgerMenu.addEventListener('click', () => {
      dropdown.classList.toggle('hidden');
    });
  </script>