---
export interface Props {
  title?: string;
  description?: string; 
}

const { title = "TILMELD DIG VORES INTROMØDE OG FÅ MERE AT VIDE", description = "Få information om vores forskellige ophold og snak med tidligere elever" } = Astro.props;
---
<section class="bg-orange-400 text-beige-100 font-montserrat text-center py-m px-s">

  <h3 class="text-xl sm:text-2xl font-bold mb-xs">
      TILMELD DIG VORES INTROMØDE OG FÅ MERE AT VIDE
    </h3>

    <p class="text-sm sm:text-base font-bold mb-m">
      Få information om vores forskellige ophold og snak med tidligere elever
    </p>
 
    <form class="w-full max-w-lg mx-auto">
      <div class="relative w-full bg-beige-100 rounded-md flex items-center">

        <input
          type="email"
          placeholder="Indtast din Email..."
          class="flex-grow bg-transparent text-black placeholder-gray-500 pl-4 py-2 rounded-lg border-none focus:outline-none focus:ring-0"
          required
        />
        
        <a
          href="#"
          class="text-orange-500 font-bold hover:text-orange-400 transition"
          style="margin-right: 16px;"
        >
          SUBMIT
        </a>
      </div>
    </form>
    
    
  </section>