---
import Button from "../components/Button.astro"; // Import button component

/* export interface Props {
  label: string; // Text displayed on the button
  variant: "desktop_dark_orange" | "desktop_light_orange" | "desktop_blue"; // Three button styles
  href?: string; // Optional: Use for links
} */

const {
  destination = "",
  pris = "",
  varighed = "",
  Introdage = "",
  Måned1 = "",
  Måned2 = "",
  Måned3 = "",
} = Astro.props;
---

<!-- Content -->
<div class="container mx-auto bg-beige-500 m-xl p-xl rounded-lg">
  <details class="bg-beige-500">
    <summary
      class="list-none flex flex-wrap items-center cursor-pointer hover:text-orange-500"
    >
      <h2 class="md:flex flex-1 p-4 font-semibold  ml-m">
        {destination}
      </h2>
    </summary>
    <div
      class="flex flex-row items-start justify-between md:flex-row m-m bg-beige-50 p-s rounded-md"
    >
      <!-- Information Section -->
      <div class="ml-10">
        <div class="mb-s">
          <p>
            <strong>Pris:</strong>
            <span class="text-orange-500 font-bold">{pris}</span>
          </p>
          <p><strong>Varighed:</strong> {varighed}</p>
        </div>

        <h3 class="text-lg font-semibold text-orange-500  py-xxs ">Information om turen:</h3>
        <ul class="pb-sm gap-x-xs">
          <li class="mb-xxs"><strong>Introdage:</strong>{Introdage}</li>
          <li class="mb-xxs"><strong>Måned 1:</strong> {Måned1}</li>
          <li class="mb-xxs">
            <strong>Måned 2:</strong>
            {Måned2}
          </li>
          <li class="mb-xxs">
            <strong>Måned 3:</strong>
            {Måned3}
          </li>
        </ul>

        <p class="pt-xxs">
          <strong>Afrejse:</strong><span class="text-black-400">  ✈️ Flybillet tur/retur er inkluderet.</span>
        </p>

        <p class="mt-2">
          <ul>
            <li class="mb-xxs">
              20. Okt 2024 <strong class="text-orange-500"
                >2 pladser tilbage</strong
              >
            </li>
          </ul>
        </p>

        <!-- Tilføjelse af knapper-->
        <div class="pt-xxs flex gap-x-ml">
          <Button  variant="desktop_dark_orange" size="medium">NOTIFIKATIONER OM OPHOLDET</Button>
          <Button  variant="desktop_light_orange" size="medium" href="/#info">INFOMØDE</Button>
          <Button variant="desktop_blue" size="medium" href="/singleview">LÆS MERE</Button>


       <!--    <Button
            label="NOTIFIKATIONER OM OPHOLDET"
            variant="desktop_dark_orange"
            href="#"
          />
          <Button label="INFOMØDE" variant="desktop_light_orange" href="#" />
          <Button label="LÆS MERE" variant="desktop_blue" href="/singleview" /> -->
        </div>
      </div>

      <!-- Image Section -->
      <div class="pl-5xl">
        <img class="" src="src/assets/images/cardVelkommen.webp" alt="rejsende"  />
      </div>
    </div>
  </details>
</div>
