---
import Button from "../components/Button.astro"; // Import button component

export interface Props {
  label: string; // Text displayed on the button
  variant: "desktop_dark_orange" | "desktop_light_orange" | "desktop_blue"; // Three button styles
  href?: string; // Optional: Use for links
}
const { label, variant, href = "#" } = Astro.props;
---

<!-- Content -->
<div class="container mx-auto bg-beige-500 m-xl p-xl rounded-lg">
  <details class="bg-beige-500">
    <summary
      class="list-none flex flex-wrap items-center cursor-pointer hover:text-orange-500"
    >
      <h1 class="flex flex-1 p-4 font-semibold text-5xl ml-m">
        CARIBIEN, HAWAII & MEXICO
      </h1>
    </summary>
    <div
      class="flex flex-row items-start justify-between md:flex-row m-m bg-beige-50 p-s rounded-md"
    >
      <!-- Information Section -->
      <div class="ml-10">
        <div class="mb-s">
          <p>
            <strong>Pris:</strong>
            <span class="text-orange-500 font-bold">67.900 Dkk</span>
          </p>
          <p><strong>Varighed:</strong> 3 Måneder</p>
        </div>

        <h2 class="text-lg font-semibold mt-4">Information om turen:</h2>
        <ul>
          <li class="mb-xxs"><strong>Introdage:</strong> New York City, USA</li>
          <li class="mb-xxs"><strong>Måned 1:</strong> Oahu, Hawaii</li>
          <li class="mb-xxs">
            <strong>Måned 2:</strong> Playa del Carmen, Mexico
          </li>
          <li class="mb-xxs">
            <strong>Måned 3:</strong> St. Croix & Puerto Rico, Caribien
          </li>
        </ul>
        <p class="mt-4">
          <strong>Afrejse:</strong> ✈️ Flybillet tur/retur er inkluderet.
        </p>
        <p class="mt-2">
          <ul>
            <li class="mb-xxs">
              20. Okt 2024 <strong class="text-orange-500"
                >2 pladser tilbage</strong
              >
            </li>
          </ul>
        </p>

        <!-- Tilføjelse af knapper-->
        <div class="mt-6 flex gap-4">
          <Button
            label="Notifikationer om opholdet"
            variant="desktop_dark_orange"
            href="#"
          />
          <Button label="Infomøde" variant="desktop_light_orange" href="#" />
          <Button label="Læs mere" variant="desktop_blue" href="#" />
        </div>
      </div>

      <!-- Image Section -->
      <div class="pl-5xl">
        <img src="src/assets/images/cardVelkommen.webp" alt="rejsende" />
      </div>
    </div>
  </details>
</div>
